* {
    padding: 0;
    margin: 0;
}

.conteudo {
    background-color: #ebe9d7;
}

.white-input {
    font-size: 25px !important;
    text-align: left;
    color: #ffffff;
}

.hidden {
    display: none;
}


/* Sobrescrevendo Materialize */

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #EF5781 !important;
    -webkit-box-shadow: 0 1px 0 0 #EF5781 !important;
    box-shadow: 0 1px 0 0 #EF5781 !important;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #FFF !important;
    -webkit-box-shadow: 0 1px 0 0 #FFF !important;
    box-shadow: 0 1px 0 0 #CCC !important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #EF5781 !important;
}

.input-field .prefix~label {
    margin-left: 2rem !important;
}

.input-field label {
    top: -4px !important;
    font-size: 1.2rem !important;
}


/* Formulario de Login */

.indexLogin {
    text-align: center;
}

.indexLogin .logo {
    margin-top: 87px;
}

.indexLogin .bemVindo {
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    color: #383743;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    width: 100%;
    max-width: 176px;
    margin: 67px auto 20px auto;
}

.indexLogin .textoLogin {
    font-size: 18px;
    height: 52px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: #383743;
    width: 100%;
    max-width: 357.7px;
    margin: 0px auto;
    margin-bottom: 39px;
}

.erro {
    font-size: 18px;
    color: #F44336;
}

.indexLogin .formularioLogin {
    max-width: 350px;
    margin: 28px auto;
    width: 100%;
}

.indexLogin .formularioLogin .text {
    font-size: 18px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #383743;
    height: 35px;
    margin-left: 28px;
}

.indexLogin .formularioLogin .text::placeholder {
    opacity: 0.7;
    font-size: 18px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #383743;
}

.indexLogin .formularioLogin .button {
    border-radius: 3.6px;
    background-color: #57bbbc;
    text-transform: uppercase;
    color: white;
    width: 95%;
    max-width: 324px;
    height: 53px;
    border-style: none;
    font-weight: bolder;
    margin-top: 19px;
    font-size: 115%;
    letter-spacing: 0.5px;
}

.button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
}

.indexLogin .formularioLogin .input-field i {
    color: #ee4c77;
    font-size: 19px;
    line-height: 2;
    padding-right: 33px;
}


/* Navbar */

.esconde {
    display: none;
}

.header {
    width: 100%;
    height: 151px;
    text-align: center;
    padding-top: 49px;
    background-image: linear-gradient(180deg, #ee4c77, #a53251);
}

.header .pesquisa-text {
    width: 0% !important;
    float: right;
    margin-right: 40px !important;
}

.header .pesquisa-text:focus {
    width: calc(90% - 300px) !important;
}

@media (min-width: 321px) AND (max-width: 767px) {
    .header {
        height: 150px !important;
    }
    .logo-nav {
        width: 180px;
    }
    .header .pesquisa-text:focus {
        width: 70% !important;
    }
    .header i.lupa {
        padding: 0 !important;
    }
}

@media (max-width: 320px) {
    .header .pesquisa-text:focus {
        width: 65% !important;
    }
    .logo-nav {
        width: 180px;
    }
    .header i.lupa {
        padding: 0 !important;
    }
}

.header i.lupa {
    float: right;
    color: white;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

.header i.limpa {
    float: right;
    color: white;
    font-size: 40px;
    padding: 10px;
    margin-left: -52px;
    cursor: pointer;
}


/* Pesquisa */

.pesquisa .info {
    width: 100%;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: -0.5px;
    text-align: center;
    color: #383743;
    margin-top: 260px;
}

.pesquisa .resultados {
    width: 100%;
    margin: auto;
    max-width: 923px;
    cursor: pointer;
}

.pesquisa .itemContainer {
    width: calc(100% - 20px);
    max-width: 923px;
    height: 213.9px;
    border-radius: 4.7px;
    background-color: #ffffff;
    padding: 27px 30px;
    margin: 40px 10px;
}

.pesquisa .itemContainer .nomeEmpresa {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #1a0e49;
    text-transform: capitalize;
}

.pesquisa .itemContainer .tipoEmpresa {
    height: 32px;
    font-size: 24px;
    text-align: left;
    color: #8d8c8c;
}

.pesquisa .itemContainer .paisEmpresa {
    height: 24px;
    font-size: 18px;
    text-align: left;
    color: #8d8c8c;
}

.pesquisa .itemContainer .imagemEmpresa {
    width: 33.33%;
    height: 100%;
    background-color: #7DC075;
    float: left;
    margin-right: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding-top: 55px;
    font-size: 235%;
}


/* Detalhes */

.pagDetalhes .containerDetalhes {
    background-color: white;
    border-radius: 4.7px;
    padding: 48px 72px;
    width: 95%;
    max-width: 983px;
    margin: 40px auto;
}

.pagDetalhes .containerDetalhes .imagemEmpresa {
    background-color: #7DC075;
    height: 296px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 400%;
    padding-top: 111px;
    margin-bottom: 45px;
}

.pagDetalhes .containerDetalhes .descEmpresa {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8d8c8c;
}