<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Informações de empresas">
    <meta name="author" content="Lucas Garcia">

    <title>ioasys - Empresas</title>

    <!--Import Google Icon Font-->
    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/styles.css?v=1.0">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

</head>

<body ng-app="infoEmpresas" class="conteudo">
    <div ng-controller="buscaController">
        <div ng-if="pagina == 'login'" class="indexLogin">
            <div class="formulario">
                <div class="logo">
                    <img src="assets/logo-home.png" srcset="assets/logo-home@2x.png 2x,
                                    assets/logo-home@3x.png 3x">
                </div>
                <div class="bemVindo">Bem-vindo ao empresas</div>
                <div class="textoLogin">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</div>
                <form class="formularioLogin" name="form" method="post">
                    <span class="erro">{{erro.autenticacao}}</span>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mail</i>
                        <input class="text" type="email" name="email" ng-model="credencial.email" required>
                        <label for="email" class="inputLabel">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock_open</i>
                        <input class="text" type="password" name="senha" ng-model="credencial.senha" required>
                        <label for="senha" class="inputLabel">Senha</label>
                    </div>
                    <input class="button" type="submit" value="entrar" ng-click="login()">
                </form>
            </div>
        </div>
        <div ng-if="pagina != 'login'" class="header">
            <img id="logoNav" src="assets/logo-nav.png" class="logo-nav" srcset="assets/logo-nav@2x.png 2x, assets/logo-nav@3x.png 3x">
            <i class="material-icons prefix limpa" ng-click="limpaPesquisa()" ng-show="pesquisa()">clear</i>
            <input id="textoPesquisa" class="pesquisa-text white-input" type="search" name="pesquisa-text" ng-model="dadosPesquisa.text" placeholder="Pesquisar" ng-change="voltar()">
            <i class="material-icons prefix lupa" ng-click="expandePesquisa()">search</i>
        </div>
        <div ng-if="pagina == 'paginaPesquisa'" class="pesquisa">
            <div ng-if="!pesquisa()" class="info">
                Clique na busca para iniciar.
            </div>
            <div ng-if="searchEmpty" class="info">
                Nenhuma empresa encontrada para este filtro.
            </div>
            <div ng-if="pesquisa()" class="resultados">
                <div ng-repeat="item in enterprises | enterpriseFilter:dadosPesquisa.text" class="itemContainer" ng-click="detalhes(item.id)">
                    <div class="imagemEmpresa">{{item.enterprise_name}}</div>
                    <div class="nomeEmpresa">{{item.enterprise_name}}</div>
                    <div class="tipoEmpresa">{{item.enterprise_type.enterprise_type_name}}</div>
                    <div class="paisEmpresa">{{item.country}}</div>
                </div>
            </div>
        </div>
        <div ng-if="pagina == 'paginaDetalhes'" class="pagDetalhes">
            <div class="containerDetalhes">
                <div class="imagemEmpresa">{{selectedEnterprise.enterprise_name}}</div>
                <div class="descEmpresa">
                    {{selectedEnterprise.description}}<br><br>
                    <a class="waves-effect waves-light btn" ng-click="voltar()">Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
</body>

</html>